<div class="row-fluid">
    <button id="addForumBtn" class="btn btn-primary">添加论坛</button>
</div>

<div id="addForumPanel" class="row-fluid hide">
    <div class="span6 container-fluid panel">
        <div class="row-fluid">
            <div class="span4">
                <div class="prompt">论坛名称</div>
            </div>
            <div class="span8">
                <input type="text" id="name" name="name">
            </div>
            <div class="span4">
                <div class="prompt">论坛描述</div>
            </div>
            <div class="span8">
                <textarea id="desc" name="desc"></textarea>
            </div>
        </div>
        <div class="row-fluid">
        </div>
        <div class="row-fluid">
            <div class="pull-right">
                <button id="saveForumBtn" class="btn btn-primary">保存</button>
                <button id="closeAddForumBtn" class="btn">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid vp1">&nbsp;</div>
<ul>
<% _.each(input, function(item, index) { %>
    <li class="forum">
        <a href="/forum/<%=item._id%>">
        <h4 data-placement="bottom" data-toggle="tooltip" title="" data-original-title="<%=item.name%>"><%=item.name%></h4>
        <p><%=item.desc%></p>
        </a>
        <ul class="inline text-center">
            <li><i class="icon-user"> <%=item.crtBy%></i></li>
        </ul>
    </li>
<% }); %>
</ul>